{% extends "header.html" %}

{% block content %}

<div class="container">
    <!-- Step 2 -->
    <h1><center>Step 2: Search for a career</center></h1>
    <br>
    <br>
    <!-- Search for a job -->
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
        <center>
            <form action="{{ url_for('search_for_career') }}" method="POST">
                <label for="typeahead">Search for a specific career:</label>
                <div class="input-group input-group-lg">
                    <input name="autocomplete_careers" type="text" id="autocomplete_careers" class="form-control input-lg"/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary" role="button">Submit</button>
                    </span>
                </div>
            </form>
        </center>
        </div>

        <!-- or -->
        <div class="col-lg-2" style="text-align: center;">
            <br>
            <h4>or</h4>
            <br>
        </div>

        <!-- Keyword input -->
        <form action="{{url_for('suggested_career')}}" method="get">
            <br>
            <button type="submit" class="btn btn-primary btn-lg" role="button">Let us suggest a career</button>
            <br>
        </form>
    </div>

</div>


{% endblock %}
